/* TODO Add site wide styles */
html {
  display: block;
}
div {
  display: block;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 2vh;
  margin: 0;
}

#root {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: block;
}
