/* TODO Add site wide styles */
html {
  display: block;
}
div {
  display: block;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 2vh;
  margin: 0;
}

#root {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: block;
}

.line {
  position: relative;
}
.lineNumbers {
  color: rgb(144, 144, 144);
  position: relative;
}
.comment{
  color: white;
  font-size: 2.1vh;
}
.white{
  color: white;
}
.purp{
  color: rgb(220, 123, 223);
}
.blue{
  color: rgb(173, 224, 255);
}
.lightYellow{
  color: rgb(222, 225, 175);
}
.yellow{
  color: rgb(211, 189, 0);
}
.gray{
  color: rgb(138, 138, 138);
}
.green{
  color: rgb(101, 207, 184);
}
.cursor{
  color: white;
  display: inline-block;
  animation: opacity .5s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}
